openapi: 3.0.0
info:
  title: Wipro Event Management REST API
  description: |
    REST API for the Wipro Event Management Application.
  version: 1.0.0
servers:
  - url: 'https://sample.wiproevents.com/api/v1'
security:
  - bearerAuth: []
paths:
  /login:
    post:
      summary: Login
      description: |
        Login using username and password. 
      tags:
        - Security
      requestBody:
        description: A login request
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  description: The email
                  type: string
                password:
                  description: The password
                  type: string
                rememberMe:
                  description: Remember me flag
                  type: boolean
      security: []
      responses:
        '200':
          description: |
            Successfully authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    description: The token
                    type: string
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: FORBIDDEN - not verified user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /signup:
    post:
      summary: Register User.
      description: >
        Signup/register user. Please note that it will create user with full
        name, email and password first. The user profile will then be updated
        using the update user endpoint.
      tags:
        - User
        - Security
      requestBody:
        description: A user to be created
        content:
          application/json:
            schema:
              type: object
              required:
                - fullName
                - email
                - password
              properties:
                fullName:
                  description: The full name
                  type: string
                email:
                  description: The email
                  type: string
                password:
                  description: The password
                  type: string
      security: []
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /signup/facebook:
    post:
      summary: Sign up with facebook.
      description: |
        Sign up with facebook
      tags:
        - User
        - Security
      security: []
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /signup/twitter:
    post:
      summary: Sign up with twitter.
      description: |
        Sign up with twitter.
      tags:
        - User
        - Security
      security: []
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /signup/google:
    post:
      summary: Sign up with google.
      description: |
        Sign up with google,
      tags:
        - User
        - Security
      security: []
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /signup/linkedIn:
    post:
      summary: Sign up with linkedin.
      description: |
        Sign up with linkedin.
      tags:
        - User
        - Security
      security: []
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /logout:
    post:
      summary: Log out.
      description: |
        Logging out. It requires authentication.
      tags:
        - Security
      responses:
        '200':
          description: |
            Successfully logged out.
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /verifyEmail:
    get:
      summary: verify email.
      description: |
        verify email.
      tags:
        - Security
      security: []
      parameters:
        - name: email
          in: query
          description: The email
          required: true
          schema:
            type: string
        - name: verificationToken
          in: query
          description: The verification token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The operation succeeded.
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /initiateForgotPassword:
    post:
      summary: Initiate forgot password
      description: |
        Initiate forgot password.
      tags:
        - Security
      security: []
      parameters:
        - name: email
          in: path
          description: The email
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The operation succeeded.
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /changeForgotPassword:
    post:
      summary: Change forgot password
      description: |
        Change forgot password.
      tags:
        - Security
      requestBody:
        description: Change forgot password request
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - newPassword
                - forgotPasswordToken
              properties:
                email:
                  description: The email
                  type: string
                forgotPasswordToken:
                  description: The forgot password token
                  type: string
                newPassword:
                  description: The new password
                  type: string
      responses:
        '200':
          description: The operation succeeded.
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /updatePassword:
    put:
      summary: Update user password.
      description: |
        update User password.
      tags:
        - Security
      requestBody:
        description: Update user password request
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - oldPassword
                - newPassword
              properties:
                oldPassword:
                  description: The oldPassword
                  type: string
                newPassword:
                  description: The newPassword
                  type: string
      responses:
        '200':
          description: The operation succeeded.
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users:
    get:
      summary: Search Users.
      description: |
        Search Users. 
      tags:
        - User
      parameters:
        - name: name
          in: query
          description: The name
          required: false
          schema:
            type: string
        - name: email
          in: query
          description: an email
          required: false
          schema:
            type: string
        - name: userRoleId
          in: query
          description: the user role id
          required: false
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          description: The status
          required: false
          schema:
            type: string
            enum:
              - Active
              - Deleted
        - name: offset
          in: query
          description: the offset
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: the limit
          required: false
          schema:
            type: integer
        - name: sortColumn
          in: query
          description: The sort order
          required: false
          schema:
            type: string
        - name: sortOrder
          in: query
          description: The sort order
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: responseType
          in: query
          description: The response type
          required: false
          schema:
            type: string
            enum:
              - User
              - UserInfo
            default: User
      responses:
        '200':
          description: The operation succeeded. The search result will be returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/User'
                        - $ref: '#/components/schemas/UserInfo'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/users/{id}':
    get:
      summary: Get the User.
      description: |
        retrieve User.
      tags:
        - User
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          schema:
            type: string
        - name: responseType
          in: query
          description: The response type
          required: false
          schema:
            type: string
            enum:
              - User
              - UserInfo
            default: User
      responses:
        '200':
          description: Search result
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    oneOf:
                      - $ref: '#/components/schemas/User'
                      - $ref: '#/components/schemas/UserInfo'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update user.
      description: |
        Update User. 
      tags:
        - User
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                user:
                  $ref: '#/components/schemas/User'
                profilePicure:
                  type: string
                  format: binary
      responses:
        '200':
          description: The User.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete User.
      description: >
        Delete User. Please note that soft delete should be performed and the
        status should be set to deleted status, but the entity should remain. 
      tags:
        - User
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /me:
    get:
      summary: Get current User.
      description: |
        retrieve current User.
      tags:
        - User
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events:
    get:
      summary: Search events.
      description: |
        Search events.
      tags:
        - Event
      parameters:
        - name: userId
          in: query
          description: The id of the user.
          required: false
          schema:
            type: integer
            format: int64
        - name: name
          in: query
          description: The event name
          required: false
          schema:
            type: string
        - name: locationLat
          in: query
          description: The location lat
          required: false
          schema:
            type: number
            format: float
        - name: locationLng
          in: query
          description: The location lng
          required: false
          schema:
            type: number
            format: float
        - name: durationDays
          in: query
          description: The duration of event.
          required: false
          schema:
            type: integer
        - name: eventStartDate
          in: query
          description: The start date
          required: false
          schema:
            type: string
            format: date
        - name: eventEndDate
          in: query
          description: The end date
          required: false
          schema:
            type: string
            format: date
        - name: registrationStartDate
          in: query
          description: The registration start date
          required: false
          schema:
            type: string
            format: date
        - name: registrationEndDate
          in: query
          description: The registration end date
          required: false
          schema:
            type: string
            format: date
        - name: offset
          in: query
          description: the offset
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: the limit
          required: false
          schema:
            type: integer
        - name: sortColumn
          in: query
          description: The sort order
          required: false
          schema:
            type: string
            enum:
              - name
              - startDate
              - registrationEndDate
              - locationNearMe
        - name: sortOrder
          in: query
          description: The sort order
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: responseType
          in: query
          description: The response type
          required: false
          schema:
            type: string
            enum:
              - Event
              - EventInfo
            default: Event
      responses:
        '200':
          description: The events.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create Event.
      description: |
        Create Event. 
      tags:
        - Event
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: The Event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/events/{id}':
    get:
      summary: Get event.
      description: |
        Get Event. 
      tags:
        - Event
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The event data or the file in case of export.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/Event'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update Event.
      description: |
        Update Event. 
      tags:
        - Event
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: The Event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete Event.
      description: >
        Delete Event. Please note that soft delete should be performed and the
        status should be set to deleted status, but the entity should remain. 
      tags:
        - Event
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/events/{id}/dashboard':
    get:
      summary: Get event dashboard.
      description: |
        Get Event dashboard. 
      tags:
        - Event
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The event dashboard data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDashboard'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/events/{id}/dayAgendas':
    get:
      summary: Get event day agendas.
      description: |
        Get Event day agendas. 
      tags:
        - Event
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The event agendas.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventDayAgenda'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/events/{id}/sessions':
    get:
      summary: Get event sessions.
      description: |
        Get Event sessions. 
      tags:
        - Event
        - Session
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The event sessions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/events/{id}/engagements':
    get:
      summary: Get event engagements.
      description: |
        Get Event engagements. 
      tags:
        - Event
        - Engagement
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The event engagements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Engagements'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /eventDayAgendas:
    get:
      summary: Search eventDayAgendas.
      description: |
        Search eventDayAgendas.
      tags:
        - EventDayAgenda
      parameters:
        - name: eventId
          in: query
          description: The id of the entity.
          required: false
          schema:
            type: integer
            format: int64
        - name: day
          in: query
          description: The day.
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The EventDayAgendas.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventDayAgenda'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create EventDayAgenda.
      description: |
        Create EventDayAgenda. 
      tags:
        - EventDayAgenda
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventDayAgenda'
      responses:
        '200':
          description: The EventDayAgenda.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDayAgenda'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/eventDayAgendas/{id}':
    get:
      summary: Get eventDayAgenda.
      description: |
        Get EventDayAgenda. 
      tags:
        - EventDayAgenda
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The eventDayAgenda data or the file in case of export.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/EventDayAgenda'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update EventDayAgenda.
      description: |
        Update EventDayAgenda. 
      tags:
        - EventDayAgenda
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventDayAgenda'
      responses:
        '200':
          description: The EventDayAgenda.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDayAgenda'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete EventDayAgenda.
      description: |
        Delete EventDayAgenda.
      tags:
        - EventDayAgenda
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /eventAttendees:
    get:
      summary: Search EventAttendees.
      description: |
        Search EventAttendee. 
      tags:
        - EventAttendee
      parameters:
        - name: eventId
          in: query
          description: The event id
          required: false
          schema:
            type: integer
            format: int64
        - name: userId
          in: query
          description: The event id
          required: false
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          description: The status
          required: false
          schema:
            type: string
            enum:
              - Approved
              - Rejected
              - WaitingAppoval
              - Deleted
              - CheckedIn
        - name: offset
          in: query
          description: the offset
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: the limit
          required: false
          schema:
            type: integer
        - name: sortColumn
          in: query
          description: The sort order
          required: false
          schema:
            type: string
        - name: sortOrder
          in: query
          description: The sort order
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: The search result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventAttendee'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create event EventAttendee.
      description: |
        Create event EventAttendee. 
      tags:
        - EventAttendee
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventAttendee'
      responses:
        '200':
          description: The EventAttendee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAttendee'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/eventAttendees/{id}':
    get:
      summary: Get EventAttendee.
      description: |
        Get EventAttendee. 
      tags:
        - EventAttendee
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The EventAttendee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAttendee'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update EventAttendee.
      description: |
        Update EventAttendee. 
      tags:
        - EventAttendee
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventAttendee'
      responses:
        '200':
          description: The EventAttendee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAttendee'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete EventAttendee.
      description: |
        Delete EventAttendee. 
      tags:
        - EventAttendee
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/eventAttendees/{id}/approve':
    put:
      summary: Approve EventAttendee.
      description: >
        Approve EventAttendee. The badge and QR code should be generated and
        returned in response.
      tags:
        - EventAttendee
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The EventAttendee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAttendee'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/eventAttendees/{id}/reject':
    put:
      summary: Reject EventAttendee.
      description: |
        Reject EventAttendee. 
      tags:
        - EventAttendee
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/eventAttendees/{id}/delete':
    put:
      summary: Delete EventAttendee.
      description: |
        Delete EventAttendee. 
      tags:
        - EventAttendee
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/eventAttendees/{id}/checkIn':
    put:
      summary: Check in EventAttendee.
      description: |
        Check in EventAttendee. 
      tags:
        - EventAttendee
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /eventAttendeeByQRCode:
    post:
      summary: Get EventAttendee by QR code.
      description: |
        Get EventAttendee by QR code. 
      tags:
        - EventAttendee
      requestBody:
        content:
          image/png:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: The EventAttendee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAttendee'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /userEventFeedbacks:
    get:
      summary: Search UserEventFeedbacks.
      description: |
        Search UserEventFeedback. 
      tags:
        - UserEventFeedback
      parameters:
        - name: eventId
          in: query
          description: The event id
          required: false
          schema:
            type: integer
            format: int64
        - name: userId
          in: query
          description: The event id
          required: false
          schema:
            type: integer
            format: int64
        - name: offset
          in: query
          description: the offset
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: the limit
          required: false
          schema:
            type: integer
        - name: sortColumn
          in: query
          description: The sort order
          required: false
          schema:
            type: string
        - name: sortOrder
          in: query
          description: The sort order
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: The search result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserEventFeedback'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create event UserEventFeedback.
      description: |
        Create event UserEventFeedback. 
      tags:
        - UserEventFeedback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserEventFeedback'
      responses:
        '200':
          description: The UserEventFeedback.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEventFeedback'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/userEventFeedbacks/{id}':
    get:
      summary: Get UserEventFeedback.
      description: |
        Get UserEventFeedback. 
      tags:
        - UserEventFeedback
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The UserEventFeedback.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEventFeedback'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update UserEventFeedback.
      description: |
        Update UserEventFeedback. 
      tags:
        - UserEventFeedback
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserEventFeedback'
      responses:
        '200':
          description: The UserEventFeedback.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEventFeedback'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /eventWallPosts:
    get:
      summary: Search event wall posts.
      description: |
        Search event types. 
      tags:
        - EventWall
      parameters:
        - name: eventId
          in: query
          description: The event id
          required: false
          schema:
            type: integer
            format: int64
        - name: offset
          in: query
          description: the offset
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: the limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: The search result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventWallPost'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create event wall post.
      description: |
        Create event wall post. 
      tags:
        - EventWall
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventWallPost'
      responses:
        '200':
          description: The EventWallPost.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventWallPost'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/eventWallPosts/{id}':
    get:
      summary: Get EventWallPost.
      description: |
        Get EventWallPost. 
      tags:
        - EventWall
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The EventWallPost.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventWallPost'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update EventWallPost.
      description: |
        Update EventWallPost. 
      tags:
        - EventWall
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventWallPost'
      responses:
        '200':
          description: The EventWallPost.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventWallPost'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete EventWallPost.
      description: |
        Delete EventWallPost. All child posts should be deleted.
      tags:
        - EventWall
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/eventWallPosts/{id}/like':
    put:
      summary: Like EventWallPost.
      description: |
        Like EventWallPost. 
      tags:
        - EventWall
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/eventWallPosts/{id}/unlike':
    put:
      summary: Unlike EventWallPost.
      description: |
        Unlike EventWallPost. 
      tags:
        - EventWall
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /eventTypes:
    get:
      summary: Search event types.
      description: |
        Search event types. 
      tags:
        - EventType
      parameters:
        - name: name
          in: query
          description: The name.
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: the offset
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: the limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: The search result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventType'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create event type.
      description: |
        Create event type. 
      tags:
        - EventType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventType'
      responses:
        '200':
          description: The EventType.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventType'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/eventTypes/{id}':
    get:
      summary: Get EventType.
      description: |
        Get EventType. 
      tags:
        - EventType
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The EventType.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventType'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update EventType.
      description: |
        Update EventType. 
      tags:
        - EventType
      parameters:
        - name: id
          in: path
          description: The id of the entity.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventType'
      responses:
        '200':
          description: The EventType.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventType'
[...]
